footer
    ul.footer_nav
        li
            a(href="#") Архив справок "Спроси краеведа"
        li
            a(href="#") Написать нам
        li
            a(href="/contacts.html") Контакты
    .copyright
        p © 2012-2020 ГАУК НСО
        p Новосибирская государственная 
        p областная научная библиотека
