header
    .for-mobile    
        .title
            a(href="/")
                h1 НОВОСИБИРСКИЙ КРАЕВЕДЧЕСКИЙ ПОРТАЛ
            .social-media
                a(href="#")
                    i.fab.fa-vk
                a(href="")
                    i.fab.fa-facebook-f
        .menu
            span.bar
            span.bar
    ul.navmenu
        li
            a(href="day.html") День в истории
        li
            a(href="landmark.html") Достопримечательности
        li
            a(href="persons.html") Выдающиеся земляки
        li
            a(href="#") Районы НСО 
        li
            a(href="videos.html") Видеотека
        li
            a(href="collections.html") Электронная библиотека
        li
            form(action="search")
                input(type="search" placeholder="Поиск по сайту")
                button
                    i.fas.fa-search
        li
            a(href="#") Гуляем с Городской Совой!
    ul.navmenu.mobile
        li
            a(href="day.html") День в истории
        li
            a(href="landmark.html") Достопримечательности
        li
            a(href="persons.html") Выдающиеся земляки
        li
            a(href="#") Районы НСО 
        li
            a(href="videos.html") Видеотека
        li
            a(href="collections.html") Электронная библиотека
        li
            a(href="#") Гуляем с Городской Совой!
        li
            form(action="search")
                input(type="search" placeholder="Поиск по сайту")
                button
                    i.fas.fa-search
        li.social-media
            a(href="#")
                i.fab.fa-vk
            a(href="#")
                i.fab.fa-facebook-f
    .overlay
    .newsline
        a(href="#") Новость1
        a(href="#") Новость2
