extends common/layout

block content
    .content.contact
        .contacts
            .images
                img(src="/img/contact1.png", alt="contact")
                img(src="/img/contact2.png", alt="contact")
            .story
                h1 Из истории отдела краеведения НГОНБ 
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa non itaque officiis ea et quam voluptatem temporibus fugit repellat, voluptates aspernatur ratione eaque ut magnam illum? Minus provident ratione placeat quasi quibusdam laudantium enim, fugiat qui omnis iusto quidem. Dolorum ut facilis sit laudantium corporis aspernatur adipisci culpa quaerat consequatur!
        .sidebar
            p <u>О нас, контакты</u>
            p Новосибирская областная научная библиотека, отдел краеведения
            p 630007<br><u>Новосибирск, ул. Советская, 6</u>, к. 312
            a(href="tel:73832236624") тел. (383) 223-66-24
            p Начальник отдела:
            p Волобоева Елена Николаевна <a href="mailto:e.voloboeva@ngonb.ru"> e.voloboeva@ngonb.ru</a>
            .blackLogo
                img(src="img/blackLogo.png", alt="logo")
                a(href="https://elibrary.ngonb.ru/catalog/4190/") Смотреть нашу страницу на сайте НГОНБ
        .sidebaropen
            p Открыть боковое меню