extends common/layout

block content
    .discription
        .text
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde earum dolore est, laboriosam, consequuntur aliquam perferendis ex illum delectus error, nulla quasi enim assumenda asperiores consectetur? Quasi suscipit aliquam ab.
    .map
        .about
            h2 Новосибирская область
            p Общая информация
            br
            p Lorem ipsum dolor sit amet.
        a.y-maps(href="region.html")
            img(src="/img/map.png", alt="map")