extends common/layout

block content
    .content.attr
        .prev-carousel
            .preview-img(style="background-image: url('img/item1.png');")
            .preview-img(style="background-image: url('img/item2.png');")
            .preview-img(style="background-image: url('img/item4.png');")
            .preview-img(style="background-image: url('img/item5.png');")
        .attr-disc
            h1 ДК Октябрьской Революции
            p Новосибирск 
            .item-disc
                .left
                    .slider-nav
                        .preview-img(style="background-image: url('img/item1.png');")
                        .preview-img(style="background-image: url('img/item2.png');")
                        .preview-img(style="background-image: url('img/item4.png');")
                        .preview-img(style="background-image: url('img/item5.png');")
                    h3 Кратская информация:
                    ul
                        li Памятник истории
                        li Датировка памятника - 1928 г.
                        li Категория охраны - региональное, решение Новосибирского облисполкома от 22.11.1960
                        li Место: Новосибирск, ул. Ленина, 24
                .right
                    .map
                    .disc-full
                        h3 Полное описание: 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, in!
        .sidebar
            p Достопримечательности
            p В разделе представлены архитектурные, природные и мемориальные достопримечательности Новосибирска и Новосибирской области.
            i.lighter Поиск в разделе осуществляется в том числе по названию населенных пунктов
            form#search
                input(type="search" placeholder="Поиск по разделу...")
                button
                    i.fas.fa-search
            form#radio
                p Достопримечательности:
                form
                    each val, index in ['Архитектурно-исторические', 'Природные', 'Мемориальные']
                        .radio
                            input(type="radio" id="radio" + (index + 1) + '"' name="radio")
                            label(for="radio" + (index + 1) + '"')= val
        .sidebaropen
            p Открыть боковое меню